@page
@model ContactModel
@{
    ViewData["Title"] = "About";
}
<h2>Contact Information</h2>
<h3>Paulo Dallastra</h3>

<address>
    111 W 7th S, 505<br />
    Rexburg, ID 83440<br />
    <abbr title="Phone">P:</abbr>
    801.661.1624
</address>

<address>
    <strong>Support:</strong> <a href="mailto:Support@example.com">prpdallastra@gmail.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">usadallastra@gmail.com</a>
</address>
