@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="homeTitle">
    <h1>Dallastra University</h1>
</div>
<div class="row">
    <div class="col-md-12">
        <h2>Be part of the best students around the world</h2>
        <img src="~/images/home.jpg" alt="home image" />
    </div>
   
</div>