@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Church Movies Store</h1>
    <div class="container">
        <img src="~/images/main.jpg"/>
    </div>
</div>
