@{
    ViewData["Title"] = "Home Page";
}

<div class="flex col center">
    <div class="main flex col center">
        <h1>Sacramental Planner</h1>
        <h3>And now continue your journey. Assemble yourselves upon the land of aZion; and hold a meeting and rejoice together, and offer a bsacrament unto the Most High. (D&C 62:4)</h3>
        <div class="flex row center">
            <img class="mainImg" src="~/images/home.jpg"/>
            <img class="mainImg" src="~/images/home2.jpg"/>
        </div>
    </div>
</div>
