@page
@model ContactModel
@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>

<address>
    Paulo Dallastra - Scripture Journal<br />
    1234 Road Street<br />
    Rexburg, ID 83440<br />
    <abbr title="Phone">P:</abbr>
    123.456.7890
</address>

<address>
    <strong>Support:</strong> <a href="mailto:Support@example.com">paulo@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">paulo@example.com</a>
</address>
