@page
@model MegaDesk.Pages.Quotes.CreateModel

@{
    ViewData["Title"] = "Create";
}
<article class="container desk-quote" >
    <h2>Create a New Quote</h2>

    
    <hr />
    <div class="row">
        <div class="col-sm-6">
            <form method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Quote.name" class="control-label"></label>
                    <input asp-for="Quote.name" class="form-control" />
                    <span asp-validation-for="Quote.name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Quote.width" class="control-label"></label>
                    <input asp-for="Quote.width" class="form-control" />
                    <span asp-validation-for="Quote.width" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Quote.depth" class="control-label"></label>
                    <input asp-for="Quote.depth" class="form-control" />
                    <span asp-validation-for="Quote.depth" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Quote.numDrawers" class="control-label"></label>
                    <input asp-for="Quote.numDrawers" class="form-control" />
                    <span asp-validation-for="Quote.numDrawers" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Quote.surfaceMat" class="control-label"></label>
                    <select asp-for="Quote.surfaceMat" class="form-control">
                        <option value="Laminate">Laminate</option>
                        <option value="Oak">Oak</option>
                        <option value="Rosewood">Rosewood</option>
                        <option value="Veneer">Veneer</option>
                        <option value="Pine">Pine</option>
                    </select>
                    <span asp-validation-for="Quote.surfaceMat" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Quote.rushOrd" class="control-label"></label>
                    <select asp-for="Quote.rushOrd" class="form-control">
                        <option value="14">14 Days (Normal)</option>
                        <option value="7">7 Days</option>
                        <option value="5">5 Days</option>
                        <option value="3">3 Days</option>

                    </select>
                    <span asp-validation-for="Quote.rushOrd" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-page="Index">Back to List</a>
    </div>

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
</article>