@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<div class="container">
    <div class="row">
        <h1>MegaDesk Desk Quotes</h1>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <p class="review">Providing the best quality Desks </p>
            <p>Mario Elias & Paulo Dallastra</p>
        </div>
        <div class="col-sm-6 rightImage ">
            <img class="align-middle" src="~/images/office-table-png-7.png" alt="MegaDesk Image" title="MegaDesk Image" />
        </div>

    </div>

</div>


